<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                    <h1>CARRERAS EN CURSO <small>(2)</small></h1>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <%= render "layouts/map" %>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        <i class="fa fa-power-off fa-fw"></i>
                        Ocupado
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <button type="button" onclick="tChofer.searchRace()" class="btn btn-default btn-block btn-sm">
                  <i class="fa fa-refresh fa-fw"></i> Refrescar
                </button>
              </div>

              <div id="atention"></div>

            </div>
        </div>
    </div>


<script id="template" type="text/html">
  {{#model}}
  <form>
    <div class="panel panel-default">
      <div class="panel-heading">{{search_geo_start}}</div>
      <table class="table table-bordered">
        <tr>
          <td style="width: 100px"> <strong>Referencia</strong> </td>
          <td>{{search_referencia}}</td>
        </tr>
        <tr>
          <td> <strong>Tiempo</strong> </td>
          <td>4m Aprx</td>
        </tr>
        <tr>
          <td> <strong>Distancia</strong> </td>
          <td>0.2 Km</td>
        </tr>
        <tr>
          <td> <strong>Destino</strong> </td>
          <td>{{search_geo_end}}</td>
        </tr>
      </table>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            <button type="button" onclick="tChofer.accept_race(this)" class="btn btn-success btn-block">
              <i class="fa fa-phone fa-fw"></i> Aceptar
            </button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-danger btn-block"> <i class="fa fa-times fa-fw"></i> Rechazar</button>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="driver_id" value="<%=	current_user.id  %>">
    <input type="hidden" name="search_taxi_id" value="{{id}}">
  </form>

  {{/model}}
  {{^model}}
  No hay carreras..
  :({{/model}}
</script>