<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                    <h1>Abordando<small> Taxi</small></h1>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <%= render "layouts/map" %>
              <div>
                <h3>
                  <i class="fa fa-clock-o fa-fw"></i>
                  <span class="viaje-timer">00:00:00</span>
                  <small>Tiempo de viaje</small>
                </h3>
                <h3>
                  <i class="fa fa-money fa-fw"></i>
                  S/. <span class="viaje-precio">0.00</span>
                  <small>Precio del Viaje</small>
                </h3>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="pasasjero_abordar"></div>
            </div>
        </div>
    </div>

<input type="hidden" name="service_id" id="service_id" value="<%= @service_id %>">

<script id="template" type="text/html">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> Detalles del Taxista</div>
    <table class="table table-bordered">
      <tr>
        <td> <strong>Foto</strong> </td>
        <td>
          <%= image_tag("fotos/taxi_jorge.jpg", :width => "120px", :class => "img-responsive") %>

        </td>
      </tr>
      <tr>
        <td> <strong>Chofer</strong> </td>
        <td>{{chofer.last_name}}, {{chofer.first_name}}</td>
      </tr>
      <tr>
        <td> <strong>Taxi</strong> </td>
        <td>{{driver.driv_trademark}}, {{driver.driv_colour}}</td>
      </tr>
      <tr>
        <td> <strong>Placa</strong> </td>
        <td>{{driver.driv_plate}}</td>
      </tr>
      <tr>
        <td> <strong>Celular</strong> </td>
        <td>{{chofer.celular}}</td>
      </tr>
      <tr>
        <td> <strong>Distancia</strong> </td>
        <td>0.2 Km</td>
      </tr>

    </table>
    <div class="chofer_botones">
      <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-block abordar" onclick="tPasajero.abordar()">
          <i class="fa fa-thumbs-up"></i> Abordar
        </button>
        <button type="submit" class="btn btn-danger btn-block">
          <i class="fa fa-times fa-fw"></i> Cancelar
        </button>

      </div>
    </div>

  </div>
</script>