<section class="home full-height">
    
    <div  class="container">
        
        
            <div class="row ">
                <div class='background-login'>
                   
                   <div class="col-sm-6">
                        <p>
                            <h2 id=plogin1>
                                Ingresa tu correo y te enviaremos un mail de restauracion <br />
                            </h2>                        
                        </p>
                        
                    </div>
        
                    <div class="col-sm-6">
                        <div class="module form-module">
                                <div class="">
                                    <i class="fa"></i>
                                
                            </div>
                            
                            <div class="form">
                              <h2>Ingresa tu correo</h2>
                               <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                                
                                  <%= f.input :email,  placeholder: 'e-mail', required: false, autofocus: true, label: false %>
                                  
                                  <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                
                                  <%= f.button :submit, "Enviar" %>
                                
                              <% end %>
                                 <%= render "devise/shared/links" %>
                              
                            </div>
                            
                        </div> 
                    </div>
                
            </div>
        </div>
    </div>

</section>

