<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                    <h1>CARRERAS EN CURSO <small>(2)</small></h1>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="map"></div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        <i class="fa fa-power-off fa-fw"></i>
                        Ocupado
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Av. Benavides 404</div>
                    <table class="table table-bordered">
                        <tr>
                            <td style="width: 100px"> <strong>Referencia</strong> </td>
                            <td>Tottus</td>
                        </tr>
                        <tr>
                            <td> <strong>Tiempo</strong> </td>
                            <td>4m Aprx</td>
                        </tr>
                        <tr>
                            <td> <strong>Distancia</strong> </td>
                            <td>0.2 Km</td>
                        </tr>
                        <tr>
                            <td> <strong>Destino</strong> </td>
                            <td>Carretera central km 2</td>
                        </tr>
                    </table>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href='/pages/atender' class="btn btn-success btn-block"> 
                                    <i class="fa fa-phone fa-fw"></i> Aceptar
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-danger btn-block"> <i class="fa fa-times fa-fw"></i> Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Av. Benavides 404</div>
                    <table class="table table-bordered">
                        <tr>
                            <td style="width: 100px"> <strong>Referencia</strong> </td>
                            <td>Tottus</td>
                        </tr>
                        <tr>
                            <td> <strong>Tiempo</strong> </td>
                            <td>4m Aprx</td>
                        </tr>
                        <tr>
                            <td> <strong>Distancia</strong> </td>
                            <td>0.2 Km</td>
                        </tr>
                        <tr>
                            <td> <strong>Destino</strong> </td>
                            <td>Carretera central km 2</td>
                        </tr>
                    </table>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href='/pages/atender' class="btn btn-success btn-block"> 
                                    <i class="fa fa-phone fa-fw"></i> Aceptar
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-danger btn-block"> <i class="fa fa-times fa-fw"></i> Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>