<div class="container">
    <nav class="row between middle">
        <div class="col-4">
            <a href="index.html">
                <img src=""/>
            </a>
        </div>

        <div class="col-2 end">
            <ul class="row between">
                
                <li class="col">
                    <a href="" class="layout_a">Nosotros </a>
                </li>
                <li class="col">
                    <a href="" class="layout_a">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<section class="home full-height">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
        <div class="row ">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Registrate</div>
            </div>
            <div class="form">
                <h2>INICIAR SESIÓN</h2>
                <form>
                    <input type="text" placeholder="Usuario"/>
                    <input type="password" placeholder="Contraseña"/>
                    <button>Login</button>
                </form>
            </div>
            <div class="form">
                <h2>Crear Cuenta</h2>
                <form>
                    <input type="text" placeholder="Usuario"/>
                    <input type="password" placeholder="Contraseña"/>
                    <input type="email" placeholder="Correo electronico"/>
                    <input type="tel" placeholder="Celular"/>
                    <button>Registrar</button>
                </form>
            </div>
        </div>
    </div>

</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                2105 - Copyright 2016 - All Rights Reserved
            </div>
        </div>
    </div>
</footer>
