<h1>Pages#login</h1>
<p>Find me in app/views/pages/login.html.erb</p>

<body>
        <header>
            <div class="container">
                <nav class="row between middle">

                    <div class="col-4">
                        <a href="index.html">
                            <img src=""/>
                        </a>
                    </div>

                    <div class="col-2 end">
                        <ul class="row between">
                            
                            <li class="col">
                                <a href="" class="layout_a">Nosotros </a>
                            </li>
                            <li class="col">
                                <a href="" class="layout_a">Contacto</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>


        <section class="home full-height">

            <div class="container">
                <div class="row ">
                    
                                                       <div class="module form-module">
                                  <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>

                                    <div class="tooltip">Registrate</div>
                                  </div>
                                  <div class="form">
                                    <h2>INICIAR SESIÓN</h2>
                                    <form>
                                      <input type="text" placeholder="Usuario"/>
                                      <input type="password" placeholder="Contraseña"/>
                                      <button>Login</button>
                                    </form>
                                  </div>
                                  <div class="form">
                                    <h2>Crear Cuenta</h2>
                                    <form>
                                      <input type="text" placeholder="Usuario"/>
                                      <input type="password" placeholder="Contraseña"/>
                                      <input type="email" placeholder="Correo electronico"/>
                                      <input type="tel" placeholder="Celular"/>
                                      <button>Registrar</button>
                                    </form>
                                  </div>

                </div>
            </div>

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        2105 - Copyright 2016 - All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="js/index.js"></script>

    </body>