html{
    height : 100%;    
}

body{
    height : 100%;
}

#footer{
    background-color : #33A4DF;
    padding: 20px 0;
    color: #FFF;
    bottom: 0;
    width: 100%;
    position: absolute;    
}

section.home {
    padding : 100px 0;
    height : 600px;
    margin : 25px 0;
    background-image : image-url('taxi_background.jpg');
    background-size : cover;
}

/*stilos header*/
.icono{
	height:50px;
	width: 200px;
	padding-right: 40px;
}


div.menu{/*alinea los items del header*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#map { height: 400px; }

#header{
    background-color : #33A4DF;
    padding: 10px 0;
    color: #FFF;
    height: 100px;
}

div.main{
    padding: 25px 0;
}
/*stilos header*/



/*=======================================================*/

@import url(http://fonts.googleapis.com/css?family=Raleway);

nav {
  margin-top: 0px;
  padding: 15px;
  text-align: center;
  font-family: Raleway;
  
}
#nav-1 {
  background: none;
}

.link-1 {
  transition: 0.3s ease;
  background: none;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
 
  padding: 10px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
