html{
    height : 100%;    
}

body{
    height : 100%;
}

#footer{
    background-color : #33A4DF;
    padding: 20px 0;
    color: #FFF;
    bottom: 0;
    width: 100%;
    position: absolute;    
}

section.home {
    padding : 100px 0;
    height : 600px;
    background-image : image-url('taxi_background.jpg');
    background-size : cover;
}

<<<<<<< HEAD
/*stilos header*/

.backhead{
	background-color: #93D7EC;
    border-bottom:  solid 1.5px #333;

}

li.backli:hover{
	background-color: #72C5DE;
    padding-top: 10px;
    padding-bottom:10px; 
	
}


.icono{
	height:70px;
	width: 150px;
	 background-image : image-url('logooo.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box; 
	margin: 5px 5px;
}




/*stilos header*/
=======
#map { height: 400px; }
>>>>>>> 06644195a0bd0d2cbf428332a13a833f1512899e
