<footer id='footer'>
    <div class="">
        <div class="">
            <div class="">
                2106 - Copyright 2016 - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

