<div class="container">
    <nav class="row between middle">
        <div class="col-4">
            <a href="index.html">
                <img src=""/>
            </a>
        </div>

        <div class="col-2 end">
            <ul class="row between">
                
                <li class="col">
                    <a href="" class="layout_a">Nosotros </a>
                </li>
                <li class="col">
                    <a href="" class="layout_a">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<%= content_for :header_title do %>

    About us 

<% end %>